.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: auto;
}

.contact form {
    width: 100%;
}

.contact .form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact input {
    height: 1rem;
}

.contact textarea {
    resize: vertical;
    height: 200px;
}